# ignore all file
# /*

# ignore startwith . file
fonts
.*
!/.gitconfig
!/.gitignore
!/.zshrc
!/.zshrc_alias
!/.zshenv
!.travis.yml

# ignore directory
/plugins
/private
/zsh

# for ros
*.bag

# log
*.log

# Emacs
*~
\#*\#
.\#*

# Python
*.pyc

# Catkin custom files
CATKIN_IGNORE
